@import "src/variables";
.list__item {
  background-color: #ebebeb;
  border: 2px solid transparent;
  border-bottom: 2px solid #cccccc;
  margin: 0 auto 5px;
  transition: all 0.5s;
  &:hover {
    border: 2px solid #00000c;
  }
  &-inputs {
    max-width: 75%;
    width: 100%;
  }
  &-input {
    margin-bottom: 5px;
  }
  &-error {
    font-size: 14px;
    color: $error-color;
    width: 100%;
    text-align: left;
    padding: 5px 0;
  }
  .Mui-disabled.list__item-input::before {
    border-bottom: 1px solid transparent;
  }
  .MuiInput-input.MuiInputBase-input.Mui-disabled.MuiInputBase-inputMultiline {
    color: rgba(0, 0, 0, 0.8);
    -webkit-text-fill-color: rgba(0, 0, 0, 0.8);
  }
}
