.task-list__wrapper {
  margin: 0 auto;
}
.task-list__message {
  color: #fff;
}
.task-list__text.MuiTypography-root.MuiTypography-body1 {
  margin-bottom: 20px;
  font-size: 20px;
}
.task-list__button {
  padding: 8px 16px;
}
